<div class="container d-flex justify-content-center align-items-center flex-direction-column">
  <div class="card">
    <h1>Обо мне</h1>
    В резюме на hh фото старые, но новых в костюме у меня нет. Более свежие можете посмотреть
    <a href="https://vk.com/holyzhopa" target="_blank">тут</a>, а также, вместе с фото, смешные картинки,
    прикольные видео и хорошую музыку.
    <h2>Немного фактов обо мне</h2>
    Люблю
    <ul>
      <li>Пиво</li>
      <li>Сильную статическую типизацию</li>
      <li><span matTooltip="Особенно на темы перечисленные выше">Книжки</span></li>
    </ul>
  </div>
  <div class="card">
    <h1>Опыт работы</h1>
    <a href="assets/exp.png" target="_blank" matTooltip="Я работаю">
      <img class="image" src="assets/exp.png" alt="пример ревью">
    </a>
    <h2>Фулкек разработчик(лето 2017- лето 2018)</h2>
    <h3>Что было:</h3>
    <span>
          <span class="tech">angularjs</span>,  <span class="tech">jquery</span>,
            <span class="tech">php 5.6</span>,  <span class="tech">phalcon</span>,
             ручной деплой, сборка бандла скриптом на php (и прописывание всех скриптов в json'e)
          и ещё много того, чего я бы не хотел вспоминать.
        </span>

    <h2>Angular разработчик(лето 2018- настоящее время)</h2>
    <h3>Что было:</h3>
    <span>
      В то время когда мы взвесили все ошибки и решили переписать систему, был популярен
       <span class="tech">React</span>. Поэтому
      мы, конечно же, в качестве фреймворка для новой системы выбрали
      <span class="tech" matTooltip="Ведь хорошая архитектура важнее моды">Angular</span>.
    </span>
    <h3>Что мне это дало:</h3>
    <div class="exp-block">
      <h4>Опыт создания большого проекта с нуля</h4>
      <div class="d-flex justify-content-space-evenly">
        <a class="row-link"  href="assets/anime-shadow.jpg" target="_blank">
          <img class="row-img" style="max-height: 400px" src="assets/anime-shadow.jpg" alt="прикол">
        </a>
        <a class="row-link"  href="assets/project-size.png" target="_blank">
          <img class="row-img" src="assets/project-size.png" alt="размер проекта">
        </a>
      </div>
    </div>
    <div class="exp-block">
      <h4>Научился ревьюить код</h4>

      <a href="assets/review-1.png" target="_blank">
        <img class="image" src="assets/review-1.png" alt="пример ревью">
      </a>
      <hr>
      <a href="assets/review-2.png" target="_blank">
        <img class="image" src="assets/review-2.png" alt="пример ревью">
      </a>
      <hr>
      <a href="assets/review-3.png" target="_blank">
        <img class="image" src="assets/review-3.png" alt="пример ревью">
      </a>
      <hr>
      <a href="assets/review-4.png" target="_blank">
        <img class="image" src="assets/review-4.png" alt="пример ревью">
      </a>
    </div>

    <div class="exp-block">
      <h4>И делать замечания только по существу</h4>
      <a href="assets/feature-35.png" target="_blank">
        <img class="image" src="assets/feature-35.png" alt="пример ревью">
      </a>
    </div>

    <div class="exp-block">
      <h4>Повстречал много интересного</h4>
      <a class="d-block" href="https://github.com/angular/angular/issues/10726" target="_blank">
        https://github.com/angular/angular/issues/10726</a>
      <a class="d-block" href="https://github.com/angular/angular-cli/issues/11439" target="_blank">
        https://github.com/angular/angular-cli/issues/11439</a>
    </div>
  </div>

  <div class="card">
    <h1>Моменты, которые сохранят нам время на собеседовании</h1>
    <ol>
      <li>Вы продуктовая компания. И у вас есть продукт,
        и вы разрабатываете свой <span matTooltip="Не продавайте меня на галеры">продукт</span>.
      </li>
      <li> Если вы используете <span matTooltip="NGXS/Akita - norm. Services - I'm interested">NGRX</span>, то нам не
        по пути(если вы имеете возражения, можем подраться на
        собеседовании).
      </li>
      <li>Я не могу показать вам весь код, но могу показать <span matTooltip="И он хорош">
        <a href="https://github.com/holyzhopa/my-beautiful-cv/blob/master/src/assets/code-example.ts" target="_blank">кусочек</a></span>
      </li>
    </ol>
  </div>

  <div class="card">
    <div class="d-flex justify-content-center rainbow">#чукчанедизайнер</div>
    <div class="links-container">
      <span class="link-with-icon">
        <i class="material-icons link-with-icon__icon">
          phone
        </i>
        <a href="tel:+7-962-071-22-69" matTooltip="Даже не думайте">+7-962-071-22-69</a>
      </span>
      <span class="link-with-icon">
        <mat-icon class="link-with-icon__icon" svgIcon="telegram"></mat-icon>
        <a href="https://t.me/holyzhopa" target="_blank" matTooltip="Можно, но лучше почтой">https://t.me/holyzhopa</a>
      </span>
      <span class="link-with-icon">
        <i class="material-icons link-with-icon__icon">
          email
        </i>
        <a href="mailto:holyzhopa@gmail.com">holyzhopa@gmail.com</a>
      </span>
    </div>
  </div>
</div>

